/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/05/2017, 12:39:32 PM
    Author     : Fabiana
*/
html {
    position:relative; 
    min-height: 100%;
}
.text-white {
    color: #fff;
}
.text-med{
    font-size: 16px;
}
.text-big{
    font-size: 20px;
}
.icon {
    width: 28px;
    height: auto;
}
.icon-register {
    margin-right: 8px;
    width: 34px;
}
 .navbar-brand {
    font-size: 40px !important;
}
.navbar-nav > li > a {
  /* NEW ADDITION BY MCW */
  font-size: 20px;
}  
.sign-in {
    background: rgba(51, 51, 51, .8);
    width: 500px;
}
.register {
    font-size: 18px;
    margin-bottom: 4px;
}
.register > img {
    margin-right: 50px;
}
.dropdown-profile {
    background: rgba(51, 51, 51, .8);
    width: 280px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18px;
    list-style-type: none;
}
.dropdown-profile > ul {
    margin-bottom: 8px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    text-decoration: none;
    color: white;
    background-color: black;
}
.hoverDiv {
    background: #d6d6c2;
    border-radius: 25px;
    border: 1px solid gray;
}
.height25{
    height: 25px;
}
.hiddenDiv{
    display: none;
}

   


