body {

}
nav {
    z-index: 3000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 7px;
}

/*CLASSES*/
.navbar-brand {
    font-size: 40px !important;
}
.icon {
    width: 22px;
    height: auto;
}

.navbar-nav > li > a {
  /* NEW ADDITION BY MCW */
  font-size: 20px;
}
.top-container {
    height: 600px;
    background-image: url('../images/background-02.jpg');
    background-size: cover;
}