body {

}
nav {
    z-index: 3000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 7px;
}

/*CLASSES*/
.text-white {
    color: #fff;
}
.navbar-brand {
    font-size: 40px !important;
}
.icon {
    width: 28px;
    height: auto;
}

.navbar-nav > li > a {
  /* NEW ADDITION BY MCW */
  font-size: 20px;
}
.top-container {
    height: 600px;
    width: 95%;
    background-image: url('../images/background-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel {
    margin-top: -30px;
    z-index: 1500;
}

.sign-in {
    background-color: #606468;
    width: 500px;
	
}
.register {
    font-size: 22px;
    margin-bottom: 4px;
}
/*
@media screen and (max-width: 768px) {
    .text-login {
        display: none;
    }
}
*/

