html {
    position:relative; 
    min-height: 100%;
}


/*CLASSES*/
.text-white {
    color: #fff;
}
.icon {
    width: 28px;
    height: auto;
}
header {
    padding-left: 2%;
    padding-right: 2%;
}
nav {
    z-index: 3000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 7px;
}
.navbar-brand {
    font-size: 40px !important;
}
.navbar-nav > li > a {
  /* NEW ADDITION BY MCW */
  font-size: 20px;
}
.top-container {
    height: auto;
    width: 95%;
}
.carousel-container {
    margin-top: -89px; 
    z-index: 1500;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

.sign-in {
    background-color: #606468;
    width: 500px;
	
}
.register {
    font-size: 22px;
    margin-bottom: 4px;
}
/*
@media screen and (max-width: 768px) {
    .text-login {
        display: none;
    }
}
*/

.carousel-control > img {
    position: relative;
    margin: auto;
    top: 50%;
}
.carousel-control > .right{
    left: 39%;
}
.carousel-control > .left{
    right: 39%;
}



.body-container {
    margin-bottom:100px;
}
.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:#ccc;
}